<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							{% assign mypages = site.pages | sort: "order" %}
                              {% for page in mypages %}

                              {% if page.url == "/sitemap.xml" %}
                              
                              {% elsif page.url == "/feed.xml" %}
                              
                              {% elsif page.url == "/assets/css/style.css" %}
                              
                              {% else %}
                              
                              <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
                              
                              {% endif %}
                              
                              {% endfor %}
						</ul>
					</nav>